<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ejemplo Webapp</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/axios/axios.min.js"></script>
</head>
<body class="bg-light text-center p-5">

  <h1 class="mb-4">Node.js, Express, EJS, Axios y Bootstrap</h1>

  <button class="btn btn-primary" id="btnSaludo">Obtener saludo</button>
  <p id="respuesta" class="mt-3 fs-4 text-success"></p>

  <script src="js/script.js"></script>
</body>
</html>

